<div  *ngIf="user">
  <h2>Edit user</h2>
  <hr>
  <div class="mt-5">

      <div class="form-group">
        <label>Name</label><br>
        <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="name">
      </div>
      <div class="form-group">
        <label>First Name</label><br>
        <input type="text"  class="form-control" [(ngModel)]="user.firstName" placeholder="first name">
      </div>
      <div class="form-group">
        <label>Last Name</label><br>
        <input type="text"  class="form-control" [(ngModel)]="user.lastName"placeholder="last name">
      </div>
      <div class="form-group">
        <label>Password</label><br>
        <input type="text"  class="form-control" [(ngModel)]="user.password" placeholder="password">
      </div>
      <div class="form-group">
        <label>Birth Date</label><br>
        <input type="text"  class="form-control" [(ngModel)]="user.birthDate" placeholder="yyyy-mm-dd">
      </div>

      <h4 class="mt-5">List of groups:</h4>
      <hr>

      <div class="form-group d-flex" *ngFor="let group of user.groups; let i= index" >
        <label class="mr-auto align-self-center"><i class="far fa-times-circle red-but ml-2 pt-2" (click)=removeGroup(group.name)></i></label><br>
        <input disabled type="text" value="{{group.name}}" class="form-control ml-2" [(ngModel)]="user.groups[i].name" placeholder="group">
      </div>

      <div class="mb-3" *ngIf="groupsToTake && groupToTakeOpt">
        <h3>Select new group:</h3>
        <ul class="list-group" *ngFor="let gr of groupsToTake">
          <li class="list-group-item" (click)="addToSelectedGroups(gr.name)">{{gr.name}} </li>
        </ul>
      </div>

      <button type="button" *ngIf="!groupToTakeOpt" class="btn btn-outline-secondary mb-4" (click)="addGroup()">Add group</button>
      <div class="mb-2">
        <button class="btn btn-primary" type="submit" (click)="updateUser(user)">Submit</button>
        <button class="btn btn-danger" [routerLink]="['/users']">Cancel</button>
      </div>



  </div>
</div>
