<div  *ngIf="group">
  <h2>Edit group</h2>
  <hr>
  <div class="mt-5">

    <div class="form-group">
      <label>Name</label><br>
      <input type="text" class="form-control" [(ngModel)]="group.name" placeholder="name">
    </div>

    <h4 class="mt-5">List of users:</h4>
    <hr>

    <div class="form-group d-flex" *ngFor="let user of group.users; let i= index" >
      <label class="mr-auto align-self-center"><i class="far fa-times-circle red-but ml-2" (click)=removeUser(user.name)></i></label><br>
      <input type="text" value="{{user.name}}" class="form-control ml-1" [(ngModel)]="group.users[i].name" placeholder="user">
    </div>

    <div class="mb-3" *ngIf="usersToTake && userToTakeOpt">
      <h3>Select new user:</h3>
      <ul class="list-group" *ngFor="let gr of usersToTake">
        <li class="list-group-item" (click)="addToSelectedUsers(gr.name)">{{gr.name}} </li>
      </ul>
    </div>
    
    <button type="button" *ngIf="!usersToTakeOpt" class="btn btn-outline-secondary mb-4" (click)="addUser()">Add user</button>
    <div class="mb-2">
      <button class="btn btn-primary" type="submit" (click)="updateGroup(group)">Submit</button>
      <button class="btn btn-danger" [routerLink]="['/groups']">Cancel</button>
    </div>

  </div>
</div>
