<div class="">
  <button type="button" class="btn btn-outline-primary"><i class="fas fa-user-plus"></i>Dodaj użytkownika</button>
</div>

<div class="mt-4">
  <div class="card mb-1" *ngFor="let user of users" >
    <div class="card-body user-list-detail d-flex">
      <span class="mr-auto align-self-center"><i class="fas fa-user"></i> {{user.name | uppercase}}</span>

        <span class="mr-1"><button type="button" class="btn btn-primary" [routerLink]="['/users/', user.id]">Details</button></span>
        <span class="mr-1"><button type="button" class="btn btn-danger">Delete</button></span>

    </div>
  </div>
</div>
